{% extends 'core/base.html' %}
    {% block titulo %}
        {% include 'core/components/titulo1.html' with titulo="Pedidos" %}
    {% endblock titulo %}
    
    {% block contenido %}
    <div class="d-flex flex-column">
        <a href="{% url 'core:home' %}" class="btn btn-primary mb-3">Ir al menú principal</a>
        <a href="{% url 'pedido:pedido_create' %}" class="btn btn-primary">Crear nuevo pedido</a>
    </div>

    <div class="row row-cols-1 row-cols-md-2 ">
        {% for pedido in pedidos %}
        <div class="card my-3">
            <div class="card-body">
                <h2 class="card-title">{{ pedido.cliente }} </h2>
                <p class="card-text text-muted ">Pedido: {{pedido.cantidad}} unidades de {{ pedido.producto_pedido }}</p>
                <p class="card-text text-muted ">El valor a pagar es {{ pedido.precio_total }}$COP</p>
                
        
                
                    
            </div>
        </div>
    {% endfor %}
    </div>
    
    <div class="row align-items-center my-5">
        <h1 class="pb-lg-3 text-primary fs-2">
            
        </h1>
    </div>
    
    {% endblock contenido %}