{% extends 'core/base.html' %}
{% load static %}



{% block titulo %}
    {% include 'core/components/titulo1.html' with titulo="Dippin" %}
{% endblock titulo %}

{% block contenido %}

{% if user.is_authenticated %}
    {{mensaje}}
    <p class="fs-4 fw-bold">Bienvenido {{user.username}}</p>
{% else %}
    <p class="fs-4 fw-bold">Regístrate o inicia sesion en caso de tener usuario para conocer el detalle de nuestros productos, o presiona el botón de WhatsApp para contactarnos</p>
{% endif %}
     <!-- Heading Row-->
     <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'core/img/DippinHome.webp' %}" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Dips artesanales para compartir</h1>
            <p>"Happiness is sharing and dipping!"</p>
            <a class="btn btn-success " href="https://wa.me/573052559969" target="_blank">Whatsapp</a>
        </div>
    </div>
    <!-- Call to Action-->
   
    <!-- Content Row-->
  
{% endblock contenido %}
    
