{% extends 'core/base.html' %}

{% block titulo %}
    {% include 'core/components/titulo1.html' with titulo="Login" %}
{% endblock titulo %}

{% block contenido %}
    <form method="post"> {% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        
        <input type="hidden" name="next" value="{% url 'core:home' %}">
    <button type="submit" class="btn btn-primary ">Iniciar sesion</button>
    <a href="{% url 'core:home' %}" class="btn btn-danger">Cancelar</a>
    </form>
{% endblock contenido %}